<section class="mt-5">
  <div class="container">
    <h4 style="color: brown;" class="mt-2 mb-4">Danh sách công ty tuyển dụng</h4>
    <div class="row">
      <div class="col-3" *ngFor="let item of data">
        <div class="card" style="height: 80%;" >
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <img *ngIf="item.imageCompany == null" class="img-fluid img-thumbnail mb-3" style="height: 100%;" src="assets/img/avatar/avatar-1.png" alt="">
                <img *ngIf="item.imageCompany != null" class="img-fluid img-thumbnail mb-3" style="height: 100%;" src="http://localhost:8080/api/v1/downloadFile/{{item.imageCompany}}" alt="">
              </div>
              <div class="col-7">
                <h5 class="card-title">{{item.nameCompany}}</h5>
                <p>{{item.addressCompany}} - {{item.countNews}}</p>
                <a [routerLink]="['/com-detail',item.idCompany]" routerLinkActive="router-link-active"  class="btn btn-primary">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>