<app-auth-contect>
  <section class="section">
    <div class="section-header">
      <h1>Cvs</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card author-box card-primary">
            <div class="card-header">
              <h4>Manage cvs</h4>
              <div class="card-header-form">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="keyWord" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-primary" (click)="search()"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="card-body p-0">
              <div class="row">
                <div class="form-group row col-4">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Location</label>
                  <div class="col-sm-12 col-md-7">
                    <select class="form-control selectric" [(ngModel)]="locationId">
                      <option value="0">Mặc định</option>
                      <option *ngFor="let item of dataLocation" value="{{item.idLocation}}">{{item.nameLocation}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row col-4">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Career</label>
                  <div class="col-sm-12 col-md-7">
                    <select class="form-control selectric" [(ngModel)]="careerId">
                      <option value="0">Mặc định</option>
                      <option *ngFor="let item of dataCareer" value="{{item.careerId}}">{{item.nameCareer}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row col-4">
                    <button class="btn btn-primary" (click)="search()">Filter</button>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-md">
                  <tr>
                    <th>ID</th>
                    <th>Name cv</th>
                    <th>Name career</th>
                    <th>Name location</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let item of data">
                    <td>{{item.idCv}}</td>
                    <td>{{item.nameFile}}</td>
                    <td>{{item.careerName}}</td>
                    <td>{{item.locationName}}</td>
                    <td><a href="{{baseUrl}}{{item.nameFile}}" class="btn btn-primary ml-2">Xem chi tiết</a>
                    <button  class="btn btn-success ml-2" (click)="save(item.idCv)">Save</button>
                    </td>
                  </tr> 
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


</app-auth-contect>