<app-auth-contect>
  <section class="section">
    <div class="section-header">
      <h1>Cvs</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card author-box card-primary">
            <div class="card-header">
              <h4>Manage cvs</h4>
              <div class="card-header-form">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped table-md">
                  <tr>
                    <th>STT</th>
                    <th>Cv name</th>
                    <th>Name career</th>
                    <th>Name location</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let item of data">
                    <td>{{item.idCv}}</td>
                    <td>{{item.nameCv}}</td>
                    <td>{{item.nameCareer}}</td>
                    <td>{{item.nameLocation}}</td>
                    <td>{{item.status}}</td>
                    <td><a href="{{baseUrl}}{{item.nameCv}}" class="btn btn-primary ml-2">Xem chi tiết</a>
                    <button *ngIf="item.status !== 'accept'" (click)="accept(item.idCv,'accept','')" class="btn btn-success ml-2">Accept</button>
                    <button *ngIf="item.status === 'accept'"  class="btn btn-danger ml-2" (click)="setValue(item.idCv,'reaccept',item.content)"  data-toggle="modal" data-target="#exampleModal">Reaccept</button>
                    </td>

                  
                  </tr> 
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reaccept cv</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row mb-4">
          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Content</label>
          <div class="col-sm-12 col-md-7">
            <input type="text" class="form-control" name="des" [(ngModel)]="content">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reaccept()">Reaccept</button>
      </div>
    </div>
  </div>
</div>
</app-auth-contect>