<app-auth-contect>
  <section class="section">
    <div class="section-header">
      <h1>Create News</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card author-box card-primary">
            <div class="card-header">
              <h4>Add News</h4>
            </div>
            <div class="card-body">
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Title news</label>
                <div class="col-sm-12 col-md-7">
                 
                    <input type="text" class="form-control" name="title" [(ngModel)]="title">
                
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Local Name</label>
                <div class="col-sm-12 col-md-7">
                  <input type="text" class="form-control" name="local" [(ngModel)]="local">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Wage</label>
                <div class="col-sm-12 col-md-7">
                  <input type="number" class="form-control" name="des" [(ngModel)]="wage">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Skill</label>
                <div class="col-sm-12 col-md-7">
                  <input type="text" class="form-control" name="des" [(ngModel)]="skill">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Level</label>
                <div class="col-sm-12 col-md-7">
                  <input type="text" class="form-control" name="level" [(ngModel)]="level">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Describe</label>
                <div class="col-sm-12 col-md-7">
                  <input type="text" class="form-control" name="des" [(ngModel)]="des">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Career name</label>
                <div class="col-sm-12 col-md-7">
                  <select class="form-control selectric" [(ngModel)]="idCareer" >
                    <option *ngFor="let item of dataCareer" value="{{item.careerId}}">{{item.nameCareer}}</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Location name</label>
                <div class="col-sm-12 col-md-7">
                  <select class="form-control selectric" [(ngModel)]="idLocation">
                    <option *ngFor="let item of dataLocation" value="{{item.idLocation}}">{{item.nameLocation}}</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                  <button class="btn btn-primary" (click)="save()" >Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-auth-contect>
