<app-header></app-header>
<section class="mt-5" >
  <div class="container">
    
    <div class="shadow-sm p-3 mb-5 bg-white rounded" >
      <div class="row">
        <div class="col-7 pl-3">
          <h2>{{title}}</h2>
          <span>{{time |date:'dd/MM/yyyy'}}</span><br/>
          <span>Vị trí: {{local}}</span><br/>
          <span>Level: {{level}}</span><br/>
          <span>Kỹ năng: {{skill}}</span><br/>
          <span>Lương: {{wage}}</span><br/>
          <span>Mô tả</span>
          <p>{{des}}</p>
          <button class="btn btn-primary" *ngIf="isToken !== null " data-toggle="modal" data-target="#exampleModalCenter">Ứng tuyển</button>
          <button class="btn btn-danger ml-3" *ngIf="isToken !== null " (click)="addJob()">Yêu thích</button>
          <button class="btn btn-primary" *ngIf="isToken==null" (click)="nontify()" >Ứng tuyển</button>
          <button class="btn btn-danger ml-3" *ngIf="isToken==null" (click)="nontify()" >Yêu thích</button>
        </div>
        <div class="col-5 border-left text-center">
          <h4>Thông tin công ty</h4>
          <h5>{{datas?.data?.nameCompany}}</h5>
          <img *ngIf="datas?.data?.imageCompany == null" class="img-fluid img-thumbnail" width="200px"  src="assets/img/avatar/avatar-1.png" alt="">
          <img *ngIf="datas?.data?.imageCompany != null" class="img-fluid img-thumbnail"  width="200px"  src="http://localhost:8080/api/v1/downloadFile/{{datas?.data?.imageCompany}}" alt="">
          <p>{{datas?.data?.addressCompany}}</p>
        </div>
      </div>

    </div>

    
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Danh sách CV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Danh sách CV</label>
          <select class="form-control" [(ngModel)]="idCv">
            <option *ngFor="let item of dataCv" value="{{item.idCv}}">{{item.nameFile}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="apply()">Ứng tuyển</button>
      </div>
    </div>
  </div>
</div>
<app-newsCon></app-newsCon>
<app-footer></app-footer>